.DS_Store
node_modules
/dist

# Cypress
tests/e2e/screenshots/*
tests/e2e/videos/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Istanbul
.nyc_output
coverage